---
name: Check Security
on:
  pull_request:
    branches:
      - main
permissions: {}
jobs:
  check-security:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Fail build on High/Critical Vulnerabilities
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: fs
          format: table
          scan-ref: .
          severity: HIGH,CRITICAL
          ignore-unfixed: true
          exit-code: 1
