---
name: Test PR
on:
  pull_request:
    branches:
      - main
permissions: {}
jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      # https://github.com/bazel-contrib/setup-bazel/tree/0.15.0
      - uses: bazel-contrib/setup-bazel@083175551ceeceebc757ebee2127fde78840ca77
        with:
          bazelisk-version: 1.x

      - name: Cache bazel
        id: bazel_cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cache/bazel
            ~/.cache/bazelisk
          key: ${{ runner.os }}-bazel-${{ hashFiles('WORKSPACE*', 'MODULE.bazel', 'deps.bzl', '**/*.bzl', '**/BUILD.bazel') }}
          restore-keys: |
            ${{ runner.os }}-bazel-

      - run: bazel info

      # https://github.com/arduino/setup-task/tree/v2.0.0
      - uses: arduino/setup-task@416adbf11f87bcbb45c2d4b46af25b569c0ed2df
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - run: task test
